.textModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: var(--modalBackground);
  border: 2px solid var(--borderColor);
  box-shadow: 24px;
  padding: 32px;
}
