.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textModal {
  width: 400;
  background-color: var(--modalBackground);
  border: 2px solid var(--borderColor);
  box-shadow: 24px;
  padding: 32px;
}
