.navigateLinksWrapper {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.errorWrapper {
  position: fixed;
  top: 30px;
  right: 30px;
}
