.chatPanel {
  width: 100%;
  max-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
}

.chatPanelHeader {
  display: flex;
  align-items: center;
  min-height: 56px;
  max-height: 300px;
  padding: 5px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatPanelMain {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 auto;
  box-shadow: var(--forumPageShadow);
  padding: 16px;
}

.chatPanelFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 16px;
}

.answerMessageBox {
  padding: 10px;
}

.chatPanelFooterWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.chatPanelInput {
  width: 100%;
}

.sendButton {
  margin-left: 16px !important;
}

.mainTitle {
  display: flex;
  align-items: center;
}

.mainTitleIcon {
  margin-right: 8px;
}

.selectionQuestionTitle {
  word-break: break-word;
}

.answerMessageBoxCloseIcon {
  color: var(--closeIcon);
}
