.name p {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.title {
  overflow: hidden;
  max-height: 18px;
}

.time p {
  text-align: center;
}

.active {
  display: none;
}

.AsidePanelItemContent {
  display: flex;
  flex-direction: column;
}

.AsidePanelItemFooter {
  display: flex;
  flex-direction: row;
  width: 220px;
}
